/* index.css */
:root {
  font-family: 'Archivo Black', sans-serif; /* Usando sua fonte militar */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #1b2e1b; /* Cor de fundo do seu tema */
}